<be-loader
    class="spinner"
    [loading]="loading"
></be-loader>
<p-table
    [value]="data"
    [rows]="10"
    [paginator]="true"
    [pageLinks]="3"
    [responsive]="true"
    [rowsPerPageOptions]="[5,10,20,50,100]"
    #dt
    styleClass="planningTable"
>
    <ng-template
        pTemplate="emptyMessage"
        let-columns
    >
        <tr>
            <td [attr.colspan]="columns.length">Er zijn geen gegevens gevonden</td>
        </tr>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="width: 65px"></th>
            <th
                style="width: 102px"
                pSortableColumn="DatumAangemaakt"
            >
                Datum aangemaakt
                <p-sortIcon field="DatumAangemaakt"></p-sortIcon>
            </th>
            <th
                style="width: 65px"
                pSortableColumn="Code"
            >
                Code
                <p-sortIcon field="Code"></p-sortIcon>
            </th>
            <th>
                <p-multiSelect
                    [showHeader]="false"
                    [options]="statusList"
                    [style]="{'width':'100%'}"
                    defaultLabel="[Alles]"
                    (onChange)="dt.filter($event.value,'Status','in')"
                    styleClass="ui-column-filter"
                ></p-multiSelect>
            </th>
            <th>
                <p-multiSelect
                    [options]="organizers"
                    [style]="{'width':'100%'}"
                    defaultLabel="[Alle aanbieders]"
                    filterPlaceHolder="Zoek op naam"
                    (onChange)="dt.filter($event.value,'VakgroepNaam','in')"
                    styleClass="ui-column-filter"
                ></p-multiSelect>

            </th>
            <th>Titel</th>
            <th style="width: 63px">

                <p-multiSelect
                    [showHeader]="false"
                    [options]="cList"
                    [style]="{'width':'100%'}"
                    defaultLabel="[Alles]"
                    (onChange)="dt.filter($event.value,'Competentie','in')"
                    styleClass="ui-column-filter"
                ></p-multiSelect>
            </th>
            <th style="width: 63px">
                <p-multiSelect
                    [showHeader]="false"
                    [options]="tList"
                    [style]="{'width':'100%'}"
                    defaultLabel="[Alles]"
                    (onChange)="dt.filter($event.value,'Thema','in')"
                    styleClass="ui-column-filter"
                ></p-multiSelect>
            </th>
            <th
                style="width: 102px"
                pSortableColumn="MaximumDatumString"
            >
                Geldig tot
                <p-sortIcon field="MaximumDatumString"></p-sortIcon>
            </th>
            <th
                style="width: 102px"
                pSortableColumn="GewijzigdDatum"
            >
                Gewijzigd
                <p-sortIcon field="GewijzigdDatum"></p-sortIcon>
            </th>
            <th pSortableColumn="GewijzigdActie">
                Gewijzigd actie
                <p-sortIcon field="GewijzigdActie"></p-sortIcon>
            </th>
        </tr>
    </ng-template>

    <ng-template
        pTemplate="body"
        let-rowData
    >
        <tr>
            <td>
                <button
                    type="button"
                    pButton
                    icon="fa fa-print"
                    title="Printen"
                    (click)="openPrintDialog(rowData.VakID)"
                ></button>
                <button
                    *ngIf="rowData.EditVisible"
                    type="button"
                    pButton
                    icon="fa fa-eye"
                    [routerLink]="['/manage-specialty', rowData.VakID]"
                    title="Bekijken"
                >
                </button>
                <button
                    *ngIf="rowData.ViewVisible"
                    type="button"
                    pButton
                    icon="fa fa-search"
                    [routerLink]="['/manage-specialty', rowData.VakID]"
                    title="Bekijken"
                >
                </button>
                <!-- <button
                    *ngIf="rowData.DeleteVisible"
                    type="button"
                    pButton
                    class="ui-button-danger"
                    icon="fa fa-remove"
                    (click)="openActionDialog(rowData.VakID, rowData.Titel, true)"
                    title="Verwijderen"
                >
                </button>
                <button
                    *ngIf="rowData.RevokeVisible"
                    type="button"
                    pButton
                    icon="fa fa-ban"
                    (click)="openActionDialog(rowData.VakID, rowData.Titel, false)"
                    title="Intrekken"
                >
                </button> -->

            </td>
            <td>
                {{rowData.DatumAangemaakt | date:'dd-MM-yyyy'}}
            </td>
            <td>{{rowData.Code}}</td>
            <td>{{rowData.Status}}</td>
            <td>{{rowData.VakgroepNaam}}</td>
            <td>{{rowData.Titel}}</td>
            <td>{{rowData.Competentie}}</td>
            <td>{{rowData.Thema}}</td>
            <td>{{rowData.MaximumDatumString}}</td>
            <td>
                {{rowData.GewijzigdDatum  | date:'dd-MM-yyyy'}}
            </td>
            <td>{{rowData.GewijzigdActie}}</td>

        </tr>

    </ng-template>

    <ng-template pTemplate="summary">
        {{dt?.totalRecords != data?.length ? dt?.totalRecords + ' /' : ''}}
    {{data?.length}}
    rijen
    </ng-template>

</p-table>

<be-print-dialog-container
    [vakId]="vakIdPrint"
    (dialogClosed)="onDialogClosed($event)"
></be-print-dialog-container>
<be-action-dialog-container
    [vakId]="vakIdAction"
    [isDelete]="isDelete"
    [titel]="titel"
    (dialogClosed)="onDialogClosed($event)"
></be-action-dialog-container>
