<!-- Vaardigheden -->
<div [formGroup]="form">
    <!-- Valid? {{ form.valid}} -->
    <input
        style="display: none;"
        required
        formControlName="gekozenVaardigheden"
    >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Vaardigheden</h3>

            <p>
                Welke vaardigheden worden door dit kennisaanbod bevorderd?
            </p>
        </div>
        <div class="panel-body">
            <div *ngIf="showVaardigheden">

                <div class="pull-left">
                    <p class="btn-align">
                        Totaal geselecteerde punten:
                        <span
                            class="label"
                            [ngClass]="{'label-danger': (totaalGeselecteerdePunten < aantalBenodigdePunten), 'label-success': totaalGeselecteerdePunten >= aantalBenodigdePunten}"
                        >
                            {{totaalGeselecteerdePunten}}
                        </span>
                        {{' '}}
                        <span>
                            (Benodigd aantal punten: {{aantalBenodigdePunten}})
                        </span>

                    </p>

                </div>
                <div
                    class="btn-group btn-group-xs pull-right"
                    *ngIf="enableEditing"
                >
                    <button
                        type="button"
                        class="btn btn-default"
                        (click)="showFilter = !showFilter"
                        title="Filter op omschrijving en/of op code"
                    >
                        {{showFilter ? 'Verberg filter' : 'Filter'}}
                    </button>
                    <button
                        type="button"
                        class="btn btn-default"
                        title="Toon geselecteerde of alle vaardigheden"
                        [disabled]="totaalGeselecteerdePunten === 0"
                        (click)="toggleSkills()"
                    >
                        Toon {{!showAll ? 'geselecteerde' : 'alle'}} vaardigheden
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div
                            class="alert alert-danger"
                            *ngIf="totaalGeselecteerdePunten < aantalBenodigdePunten"
                        >
                            <i class="glyphicon glyphicon-warning-sign"></i>
                            Kies nog minstens
                            <span>
                                {{aantalBenodigdePunten - totaalGeselecteerdePunten}}
                            </span>
                            punten.
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div
                            class="alert alert-info"
                            *ngIf="themaId === 24"
                        >
                            Kies minstens 20 punten uit de voorbereiding (=V).
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div
                            class="alert alert-info"
                            *ngIf="themaId === 25"
                        >
                            Kies (naast de 2 verplichte vaardigheden) aanvullend 5 vaardigheden, met minstens 2 uit risico’s, 2 uit
              bestrijding uitvoeren en 1 uit verantwoordelijkheid.
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="editableSkills.length > 0">
            <p-table
                [value]="editableSkills"
                [columns]="cols"
                #dt
            >
                <ng-template
                    pTemplate="header"
                    let-columns
                >
                    <tr>
                        <ng-container
                            *ngFor="let col of columns"
                            [ngSwitch]="col.field"
                        >
                            <th
                                *ngSwitchCase="'Checkbox'"
                                style="width: 40px"
                            ></th>
                            <th
                                *ngSwitchCase="'Code'"
                                style="width: 95px"
                                pSortableColumn="Code"
                            >
                                {{col.field}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th
                                *ngSwitchCase="'Omschrijving'"
                                pSortableColumn="Omschrijving"
                            >
                                {{col.field}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                            <th
                                *ngSwitchCase="'Punten'"
                                style="width: 105px; text-align: center"
                                pSortableColumn="Punten"
                            >
                                {{col.field}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>

                        </ng-container>

                    </tr>
                    <tr *ngIf="showFilter">
                        <ng-container *ngFor="let col of columns">
                            <th *ngIf="col.field == 'Checkbox'"></th>
                            <th *ngIf="col.field != 'Checkbox'">
                                <input
                                    pInputText
                                    type="text"
                                    style="width: 100%"
                                    [placeholder]="col.field == 'Omschrijving' ? 'Zoek op deel van ' + col.field : col.field"
                                    (input)="dt.filter($event.target.value, col.field, 'contains')"
                                >
                            </th>
                        </ng-container>
                    </tr>

                </ng-template>

                <ng-template
                    pTemplate="body"
                    let-rowData
                >
                    <tr>
                      <td>
                            <label>
                                <input
                                    type="checkbox"
                                    class="checkbox"
                                    [attr.data-test]="'vaardigheidid'+rowData.VaardigheidID"
                                    (change)="vaardigheidSelected($event, rowData)"
                                    [checked]="isSelected(rowData)"
                                    [disabled]="!enableEditing || rowData.IsVerplicht"
                                >
                            </label>
                        </td>
                        <td>{{rowData.Code}}</td>
                        <td>{{rowData.Omschrijving}}</td>
                        <td>{{rowData.Punten}}</td>
                    </tr>

                </ng-template>

            </p-table>
        </div>
    </div>
</div>
